NEXT_PUBLIC_BACKEND_URL=http://localhost:8008
NEXT_PUBLIC_CONVEX_URL=""
NEXT_PUBLIC_AUTH_DISABLED=false
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_SECRET_KEY
NEXT_PUBLIC_POSTHOG_TOKEN=YOUR_POSTHOG_PROJECT_TOKEN
# Alias supported too:
# NEXT_PUBLIC_POSTHOG_KEY=YOUR_POSTHOG_PROJECT_TOKEN
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
AXIOM_API_TOKEN=your_axiom_api_token
